// example customization for bootstrap defaults
$theme-colors: (
  "info": tomato,
  "danger": teal,
  "primary": black,
);

@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 10px;
  font-family: sans-serif;
}
p {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}

// header styles
.header span {
  padding-left: 0;
  padding-right: 0;
}
.header .nav-link {
  padding-left: 0;
  padding-right: 0;
}
